@using System.Security.Claims;
@using Courses.Domain.Entity;
@using Courses.Service.Interfaces;
@using Microsoft.AspNetCore.Identity;
@using System.Text.Json;
@model IEnumerable<Сourses.Domain.Entity.PracticalPart>
@inject UserManager<User> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@inject ICompletedPartService _completedPartService
    
@{
    ViewData["Title"] = "Практическая часть";


    var completedPartsList = _completedPartService
                        .GetCompletedPartByIdUser(UserManager.GetUserId(HttpContextAccessor.HttpContext.User))
                        .Result
                        .Data;
    var completedParts = new SortedSet<int>();
    if (completedPartsList != null)
        foreach (var el in completedPartsList)
            completedParts.Add(el.PracticalPartId);

}

<div class ="course">
    @if (Model != null)
    {
        @foreach (var questions in Model)
        {
            if (completedParts != null && completedParts.Contains(questions.Id))
            {
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Вопрос </h5>
                    <p class="card-text">@questions.Question</p>
                        <input type="text" class="form-control is-valid" placeholder="@questions.Answer" disabled>
                    </div>
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Вопрос </h5>
                    <p class="card-text">@questions.Question</p>
                        <input type="text" class="form-control" id="answer1" data-question-id="@questions.Id.ToString()" data-course-id="@questions.CourseId.ToString()" placeholder="Введите ответ">
                    </div>
                </div>
            }
        }
    }
    else
    {
        <h1>Для данного раздела пока нет вопросов</h1>
    }
</div>

<script>
    // добавляем обработчик события keyup для всех полей ввода ответов
    var answerInputs = document.querySelectorAll('input[id^="answer"]');
    answerInputs.forEach(function (input) {
        input.addEventListener("keyup", function (event) {
            // если нажата клавиша Enter
            if (event.keyCode === 13) {
                // отменяем стандартное поведение формы
                event.preventDefault();
                // получаем значение поля ввода ответа
                var answer = input.value;
                var partId = input.getAttribute('data-question-id');
                // получаем id вопроса
                var courseId = input.getAttribute('data-course-id');
                // отправляем запрос на сервер для проверки данных
                $.ajax({
                    url: "/PracticalPart/CheckAnswer",
                    type: "POST",
                    data: { partId: partId, answer: answer, courseId: courseId },
                    success: function (result) {
                        if (result) {
                            // удаляем класс "is-invalid" (красный цвет)
                            input.classList.remove("is-invalid"); 
                            // добавляем класс "is-valid" (зеленый цвет)
                            input.classList.add("is-valid");
                            input.setAttribute("disabled", true);
                        } else {
                            // удаляем класс "is-valid" (зеленый цвет)
                            input.classList.remove("is-valid");
                            // добавляем класс "is-invalid" (красный цвет)
                            input.classList.add("is-invalid");
                        }
                    }
                });
            }
        });
    });
</script>


<style>

.course {
    margin-top: 1%;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}
</style>