@model Courses.Domain.ViewModules.Course.CourseViewModel

@{
    var textTitle = Model?.Id == 0 ? "Изменение данных" : "Добавление данных";
}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<form asp-action="Save" enctype="multipart/form-data" id="formSaveCourse">
    <input asp-for="Id" hidden />
    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input type="text" class="form-control validate" asp-for="@Model.Name">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Description" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Description" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.VideoURL" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.VideoURL" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.Theory" class="col-form-label"></label>
            <textarea type="text" class="form-control" asp-for="@Model.Theory" style="height: 200px; resize: vertical;"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.TypeCourse" class="col-form-label"></label>
            <select asp-for="@Model.TypeCourse" class="form-control" id="courseTypeId"></select>
        </div>
    </div>
    <span class="error-message"></span>
    <button class="btn btn-primary">Отправить</button>
</form>

<script src="~/lib/select2/js/select2.full.min.js"></script>
<script>
    $('#courseTypeId').select2({
        placeholder: "Выберите тип",
        minimumInputLength: 0,
        allowClear: true,
        ajax: {
            type: "POST",
            url: "@Url.Action("GetTypes", "Course")",
            dataType: "json",
            processResults: function (result) {
                return {
                    results: $.map(result, function (val, index) {
                        return {
                            id: index,
                            text: val
                        };
                    }),
                };
            }
        }
    });
</script>

<script>
    $(document).ready(function () {
        // Инициализация плагина валидации на форме
        $("#formSaveCourse").validate({
            // Настройки плагина
        });

        // Обработчик события submit на форме
        $("#formSaveCourse").submit(function (event) {
            // Отменяем стандартное поведение браузера (отправку формы)
            event.preventDefault();

            // Вызываем метод validate() на форме для проверки вводимых данных
            if ($("#formSaveCourse").valid()) {
                // Если данные прошли валидацию, отправляем форму
                $("#formSaveCourse").submit();

                errorPlacement: function(error, element) {
                    // выводим сообщения об ошибках рядом с соответствующими полями формы
                    error.insertAfter(element);
                }
            }
        });

        
    });
</script>

<style>
   /* label {
        color: black;
    }*/

    label {
        color: black;
        font-size: 20px;
    }

    input[type="text"],
    textarea,
    select {
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
        input[type="text"]:focus,
        textarea:focus,
        select:focus {
            outline: none;
            box-shadow: 0px 0px 5px white;
        }

    button {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
    }

    .error-message {
        display: none;
        color: red;
    }
</style>